.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  /* background-color: #000; */
  width: 100%;
  padding: 20px;
  z-index: 1;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_black {
  background-color: #111;
}

.nav_logo {
  object-fit: contain;
  width: 80px;
}

.nav_icon {
  position: fixed;
  width: 30px;
  object-fit: contain;
  right: 20px;
}
